@font-face {
   font-family: 'socicon';
   font-display: swap;
   src: url('file:///C:/Users/Quandale%20Dingle/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-28_012909/fonts/socicon/font.ttf');
}
